doctype html
html
    head
        block title
            title Личный кабинет
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/customstyles/customstyles.css")
        
    body
        nav.navbar.navbar-expand-lg.navbar-light.sticky-top
            div.logo-container
                a.navbar-brand(href='./')
                    img(src="/img/testlogo.png")
            div.h3-container        
                h3 Поддержка    
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
                span(data-feather="align-right")    
            div#navbarToggler.collapse.navbar-collapse
                ul.navbar-nav.ml-auto.mt-2.mt-lg-0
                    li#dropdown.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Меню
                        div.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='./lobby/newticket')
                                span.svg(data-feather="file-plus")
                                | Новое обращение
                            a.dropdown-item(href='#')
                                span.svg(data-feather="users")
                                | Статусы
                            a.dropdown-item(href='#')
                                span.svg(data-feather="settings") 
                                | Статистика
                            a.dropdown-item(href='#')
                                span.svg(data-feather="pocket")
                                | Выполненые
                            a.dropdown-item(href='#')
                                span.svg(data-feather="package")
                                | Архив
                            a.dropdown-item(href='#')
                                span.svg(data-feather="info") 
                                | Инфо

                    li.nav-item
                        a.nav-link(href='#') Настройки
                    li.nav-item
                        a.nav-link(href='../auth/logout') Выход
        div.container-fluid
            div.row
                nav.sidebar
                    div.sidebar-sticky
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.sidebar-link(href="./lobby/newticket") 
                                    span(data-feather="file-plus")   
                            li.nav-item
                                a.nav-link.sidebar-link(href="#") 
                                    span(data-feather="users")                  
                            li.nav-item
                                a.nav-link.sidebar-link(href="#") 
                                    span(data-feather="settings")
                            li.nav-item
                                a.nav-link.sidebar-link(href="#") 
                                    span(data-feather="pocket")   
                            li.nav-item
                                a.nav-link.sidebar-link(href="#") 
                                    span(data-feather="package")                  
                            li.nav-item
                                a.nav-link.sidebar-link(href="#") 
                                    span(data-feather="info")

            div.row
                main.col-md-12.col-lg-12
                    div.table-header-container
                        div.table-header                    
                            h3 Таблица обращений
                    div.table-container
                        div.table-responsive
                            table.table.table-striped
                                thead
                                    tr
                                        th Заголовок
                                        th Клиент
                                        th Эл.почта
                                        th Дата
                                        th Статус
                                tbody
                                    if tickets.length > 0
                                        each ticket in tickets             
                                            tr
                                                td
                                                    if ticket.title.length > 10
                                                        a(href=`./lobby/ticket/${ticket.id}`)= `${ticket.title.slice(0,10)}...`               
                                                    else
                                                        a(href=`./lobby/ticket/${ticket.id}`)= `${ticket.title}`
                                                td= `${ticket.firstName} ${ticket.lastName}`
                                                td= `${ticket.email.toLowerCase()}`
                                                td= `${ticket.date.slice(7,8)}/${ticket.date.slice(5,6)}/${ticket.date.slice(0,4)}`
                                                td
                                                    if ticket.status == "В работе" 
                                                        span.badge.badge-warning=`${ticket.status}`
                                                    if ticket.status == "Выполнена" 
                                                        span.badge.badge-success=`${ticket.status}`
                                                    if ticket.status == "Открыта" 
                                                        span.badge.badge-primary=`${ticket.status}`        

        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
        script(src="https://unpkg.com/feather-icons/dist/feather.min.js")
        script feather.replace({'stroke-width':1})                        