
html
    head
        block title
            title Добро пожаловать!
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/customstyles/customstyles.css")


    body.login-form-body
        div.login-form-container
                div.login-form-header
                    img(src='/img/logo-2.png')
                    h3 Авторизация
                    span Введите ваши данные
                if flashError
                    div.alert.alert-danger=flashError
                if flashInfo
                    div.alert.alert-success=flashInfo    
                div.ticket-container
                    form.login-form(method="POST", action="/auth/login")
                            input.form-control.form-input-first(type='text', name="email", required, placeholder='Эл.почта', autocomplete="off")
                            input.form-control.form-input-last(type='password', name="password", required, placeholder='Пароль', autocomplete="off")        
                            div.login-form-control
                                button.btn.login-submit(type="submit") Войти
                            div.login-form-control    
                                a(href="../auth/register") Нет учетной записи?
