@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    background-color: #f2f3f8;
    -webkit-font-smoothing: antialiased;

}


img {
    width: 600px;
    height: 600px;
}

h6 {
    margin-bottom: 1rem;
    color:#575962;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: 400;
    color: #575962;
}

main {
    margin-left: 100px;
    padding-left: 30px !important;
    padding-right: 130px !important;
    padding-top: 30px;
}







.alert {
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
}
.alert-success {
    background-color: #fff;
    border-color: #34bfa3;
    color: #34bfa3;
    font-weight: 400;
}

.alert-danger {
    border-color: #f4516c;
    background-color: #fff;
    color: #f4516c;
    font-weight: 400;
}
.badge {
    padding: 1px 10px;
    border-radius: 10px;
    line-height: 20px;
    min-width: 20px;
    min-height: 20px;
    vertical-align: middle;
    text-align: center;
    letter-spacing: .6px;
    font-size: .8rem;
    font-weight: 300;
    color: white;
}

.badge-danger {
    background-color: #f4516c;
}

.badge-primary {
    background-color: #36a3f7;
}

.badge-success {
    background-color: #34bfa3;
}

.badge-warning {
    background-color: #5867dd;
}

.btn-custom {
    padding: .4rem 2rem;
    font-size: .9rem;
    font-weight: 400;
}

.btn-primary {
    background-color:#22b9ff;
    border-radius: 20px;
    border-color: #22b9ff;   
}

.btn-primary:hover {
    background-color: #00c5dc;
    border-color: #00c5dc;
}

.dropdown-item {
    font-weight: 300;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.dropdown-item:hover {
    background-color: #fdfaeb !important;
    color: #22B9FF;
}

.dropdown-menu {
   border: none;
   box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}


.form-group input {
    font-size: .8rem;
    font-weight: 300;
}

.form-group textarea {
    font-size: .8rem;
    font-weight: 300;
}

.form-control:focus {
    box-shadow:none;
    border-color: #22b9ff;
}

.form-control.form-input-first {
    border-bottom: 1px solid #ebedf2;
}

.h3-container h3 {
    margin-left: 30px;
    font-size: 1.4rem;
    margin-bottom: 3px;
    padding: 0.5rem 0rem;
    color:#4C4C50
}


.logo-container {
    width: 100px;
    height: 80px;
    background-color: #F4DA70;
}

.login-form-body {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    background-color: white;
    -webkit-font-smoothing: antialiased;
  }

.login-form-container {
    width: 400px;
} 

.login-form-header h3 {
    margin-top: 40px;
    margin-bottom: 15px;
}

.login-form-header img {
    width: 96px;
    height: 65px;
}


.login-form-header  {
    text-align: center;
}

.login-form > input {
    font-size: 14px;
    border: none;
    border-radius: 0px;
    padding: .8rem 0;
}

.login-form > input:focus::placeholder {
    color: #716aca;
    opacity: 1;
}

.login-form-control {
    margin-top: 40px;
    text-align: center;
}

.login-form-control button {
    height: 55px;
    width: 145px;
    border-radius: 25px;
    color: white;
    background-color: #9816f4;
    box-shadow: 0 5px 10px 2px rgba(152,22,244,.19);
}

.login-form-control button:hover {
    background-color: #9816f4;
    border-color: #9816f4;
}
.login-form-control a {
    color: #898b96;
    text-decoration: none;
}

.login-form-control a:hover {
    color: #9816f4;
}    

.message-container {
    border-bottom: .07rem dashed #ebedf2;
}

.message-container-item {
    color:#898b96;
}

.message-info {
    padding: 11px 0px 11px 0px
}

.message-info > span {
    display:block;
    font-weight: 500;
    color:#575962;
}


.message-form {
    margin-top: 20px;
}

.navbar {
    padding: 0px 10px 0px 0px;
    min-height: 80px;
    background-color:white;
    box-shadow: 111px 1px 15px 1px rgba(69, 65, 78, 0.1);
}

.navbar-light .navbar-toggler {
    
    border: none;
}

.navbar-light .navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler:hover {
    color: #22b9ff;
}

.navbar-brand {
    padding: 20px 0px 0px 10px;

}

.navbar-brand img {
    width: 56px;
    height: 38px;
    margin-left: 10px;

}

.nav-item .nav-link {
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #22b9ff;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #22b9ff;
}

.sidebar {
    position: fixed;
    width: 100px;
    height: 100%;
    background-color: white;
    max-height: auto;
}

.sidebar-sticky ul {
    padding-top: 60px;
}
.sidebar-link{
    padding : 15px 0px !important;
    text-align: center;
    color: #b0aecc;
    line-height: 0;
}

.sidebar-link .feather {
    width:28px;
    height:29px; 
}

.sidebar-link:hover {
    background-color: #fdfaeb;
    color: #22b9ff;
}

.signin-form-container {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    padding: 28px;
    background-color: white;
}

.svg {
    font-family: 'Roboto', sans-serif;
    width: 37px;
    height: 21px;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-right: 5px;
    vertical-align: middle;
    color:rgba(0, 0, 0, 0.5);
}

.svg:hover {
    color: #22b9ff;
}

.table-striped > tbody > tr:nth-child(2n+1) {
    background-color:white;
 }
 
 .table-striped > tbody > tr:nth-child(2n) > td {
    background-color:#faf9fc;
 }

 .table-striped > tbody > tr > td > a {
     color:#575962;
 }
 
 .table-striped > tbody > tr > td > a:hover {
     color: #22b9ff;
     text-decoration: none;
 }

.table-header-container {
    border-bottom: 1px solid #ebedf2;
    height: 4.4rem;
    background-color: white;
}

.table-header-container h3 {
    margin-bottom: 0px;
    padding: 23px 0px 23px 0px !important;
    font-size: 1.3rem;
    vertical-align: middle;
    color: #575962;  
}

.table-header {
    padding: 0px 28px 0px 28px;
}

.table-container {
    padding: 28px 28px 28px 28px;
    background-color: white;
}


.table thead {
    background-color: #f4f3f8;
}

.table thead th  {
    padding: 16px 10px;
    border: none ;
    font-size: 1rem;
    color: rgb(87, 89, 98);
}

.table td {
    padding: 11px 10px;
    border: none;
    font-weight: 400;
    font-size: .9rem;
    color:#575962;
    vertical-align: middle;

}

.ticket-header-container {
    border-bottom: 1px solid #ebedf2;
    height: 4.4rem;
    background-color: white;
}

.ticket-header {
    padding: 0px 28px 0px 28px;

}

.ticket-header h3 {
    margin-bottom: 0px;
    padding: 23px 0px 23px 0px !important;
    font-size: 1.3rem;
    vertical-align: middle;
    color: #575962;  
}

.ticket-container {
    padding: 28px 28px 28px 28px;
    background-color: white;
    margin-bottom: 30px;
}

.ticket-container > p {
    font-weight: 400;
    color:#575962;

}

.ticket-status-change {
    width: 177px;
    min-width: 177px;
}

.ticket-status-change select:focus {
    box-shadow:none;
    border-color: #22b9ff;
}



@media only screen and (max-width: 992px) {
    .badge {
       font-size: .7rem
    }
    
}

@media only screen and (max-width: 992px) {
    .btn-primary {
       font-size: .7rem
    }
    
}

@media only screen and (max-width: 992px) {
    h6 {
        font-size: .9rem;
    }
    
}


@media only screen and (max-width: 992px) {
    main {
       margin-left: 0px;
       padding-right: 15px !important;
       padding-left: 15px !important;
       padding-top: 15px !important;
    }
    
}

@media only screen and (max-width: 992px) {
    .h3-container h3 {
       margin-left: 0px;
       font-size: 1.2rem;

    }
    
}


@media only screen and (max-width: 992px) {
    .h3-container {
       width: 130px; 
       margin-left: 0px; 
       margin-right: auto;
    }
    
}

@media only screen and (max-width: 992px) {
    label {
        font-size: .8rem;
    }
    
}

@media only screen and (max-width: 992px) {
    .login-form-container {
        width: 350px;
        height: 450px;
    }
    
}



@media only screen and (max-width: 720px) {
    .login-form-container {
        width: 300px;
    }
    
}



@media only screen and (max-width: 540px) {
    .login-form-container {
        width: 250px;
    }
    
}


@media only screen and (max-width: 992px) {
    .navbar-brand {
        padding: 8px 0px 0px 0px;
    }
    
}

@media only screen and (max-width: 992px) {
    .navbar-toggler {
        padding: 0.25rem 0rem;
    }
    
}


@media only screen and (max-width: 992px) {
    .navbar-brand img {
        margin-left: 0px;
        width: 40px;
        height: 27px;
    }
    
}

@media only screen and (max-width: 992px) {
    .navbar {
        min-height:0px;
        padding: 5px 25px 5px 25px;
        box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
    }
    
}

@media only screen and (max-width: 992px) {
    .logo-container  {
        width: 40px;
        height: 50px;
        margin-right: 10px;
        background-color: white;
    }
    
}

@media only screen and (max-width: 992px) {
    .message-info > span {
        font-size: 13px;
    }
}

@media only screen and (max-width: 992px) {
    .message-container-item p  {
        font-size: 13px;
    }
}

@media only screen and (min-width: 993px) {
    #dropdown {
            display: none;
    }
    
}


@media only screen and (max-width: 992px) {
    .sidebar {
        display: none;    
    }
    
}

@media only screen and (max-width: 992px) {
    .table-header-container {
        height: 4.1rem;
    }   
}

@media only screen and (max-width: 992px) {
    .table-header h3 {
        font-size: 1.0rem;
    }   
}

@media only screen and (max-width: 992px) {
    .table thead th {
        font-size: .9rem;        
    }
    
}

@media only screen and (max-width: 992px) {
    .table td {
        font-size: .8rem;        
    }
    
}

@media only screen and (max-width: 992px) {
    .ticket-container {
        margin-bottom: 15px;
    }   
}


@media only screen and (max-width: 992px) {
    .ticket-header h3 {
        font-size: 1.0rem;
}

@media only screen and (max-width: 992px) {
    .ticket-header-container {
        height: 4.1rem;
    }   
}

@media only screen and (max-width: 992px) {
    .ticket-container > p {
        font-size: 13px;
    }
}